img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

h1 {
  color: #008080;
  text-align: center;
}

p {
  float: right;
}

.column p {
  margin: auto;
  border: 2px solid black;
  padding: 4px;
  background-color: #B0C4DE;
  width: 650px;
}

.sidebar {
  width: 34%;
  float: left;
  background-color: #FFC0CB;
}

@media screen and (max-width: 968px) and (min-width: 100px) {
  body {
    background-color: white;
    color: black;
  }
}
